* {
  font-family: "Iosevka Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

#waybar.DP-1 * {
    font-size: 24px;
}

#waybar.DP-2 * {
    font-size: 20px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 1);
    color: #ffffff;
}

window#waybar.hidden {
  opacity: 0.2;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#waybar {
  background-color: transparent;
  border-radius: 0px;
}

#idle_inhibitor,
#disk,
#pulseaudio,
#cpu,
#memory,
#custom-power,
#custom-launcher,
#custom-media,
#temperature {
}

#custom-power {
  color: #fb958b;
}

#custom-media {
  color: #66cc99;
  min-width: 100px;
}

#pulseaudio.muted {
  margin-right: 0;
}

#temperature.critical{
  color: #FC5D7C;
}

#workspaces button {
    box-shadow: inset 0 -3px transparent;
    transition-duration: 0s;
    border: none;
    border-radius: 0;
    padding: 0 5px;
}

#workspaces button.active {
  background: inherit;
  box-shadow: inset 0px 0px 15px 15px #B39DF3;
  box-shadow: inset 0px 0px 15px 15px #E4D0B5;
  color: #181819;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* --- Module Spacing and Separators --- */

/* General spacing for modules on the left and right */
#idle_inhibitor, #pulseaudio, #cpu, #temperature, #memory, #disk, #custom-media,
#language, #network, #tray, #clock {
    padding: 0 8px;
}

/* General separators for modules on the left and right */
#pulseaudio,
#cpu,
#memory,
#disk,
#custom-media,
#network,
#tray,
#clock {
    border-left: 4px solid rgb(255, 255, 255);
    padding-left: 8px; /* Overrides general padding-left */
}

/* Special compact spacing for center modules */
#custom-launcher, #workspaces, #custom-power {
    padding: 0px;
}

/* Separators for center modules */
#workspaces,
#custom-power {
    border-left: 4px solid rgb(255, 255, 255);
}
#custom-power {
  padding-left: 6px;
  margin-left: -4px; /* Negative margin to counteract global spacing */
}
