* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    color: #ffffff;
}

window#waybar.hidden {
  opacity: 0.2;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#waybar {
  background-color: transparent;
  border-radius: 0px;
}

#idle_inhibitor {
  margin-right: 0.8rem;
}

#disk {
  margin-right: 0.8rem;
}

#custom-separator {
  background-color: #e2e2e3;  
  font-size: 12px;
  margin: 4px 4px 4px 4px;
  border-radius: 6px;
}

#custom-power {
  color: #fb958b;
}

#custom-media {
  color: #66cc99;
  min-width: 100px;
}


#pulseaudio {
  margin-right: 0.7em;
}

#pulseaudio.muted {
  margin-right: 0;
}

#cpu {
  margin-right: 0.3em;
}
#temperature.critical{
  color: #FC5D7C;
}
#memory {
  margin-right: 0.3em;
}

#custom-power {
  margin-right: 0.3em;
  margin-left: 0.3em;
}

#custom-launcher {
  margin-right: 0.3em;
}

#workspaces button {
    box-shadow: inset 0 -3px transparent;
    transition-duration: 0s;
    border: none;
    border-radius: 0;
}

#workspaces button.active {
  background: inherit;
  box-shadow: inset 0px 0px 15px 15px #B39DF3;
  color: #181819;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}


